.admin-dashboard{
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding-top: 0;
}

.sidebar-left{
    width: 20%;
    height: 100%;
}

.dashboard-content{
    width: 80%;
    height: 100%;
}

.admin-summary{
    display: flex;
    padding-left: 20px;
}


