section{
    width: 100%;
    padding-top: 100px;
    height: auto;
    display: flex;
    flex-direction: column; 
    background-color: #fff;
}

.heading-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sectionh1{
    font-family: "Radio Canada Big", sans-serif;
    font-size: 2.8em;
    font-weight: 600;
    text-transform: uppercase;
}

.heading-desc{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    color: #6f7a84;
}

.prod-container{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.prod-title{
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
    color: #478e92;
}

.prod-price{
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    color: #0f4447;
}

.banner{
    width: 100%;
    height: 500px;
    /* margin-top: 60px; */
    display: flex;
    flex-direction: row;
    
}

.banner-bg,
.summary{
    background-color:#F2E1D9;
}

.banner-image{
    width: 50%;
    height: 100%;
}

.image-banner{
    width: 100%;
    height: 100%;
}

.banner-text{
    width: 50%;
    height: 100%;
}

.bannertexth1{
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 700;
    padding: 80px 20px 0 50px;
    width: 80%;
}

.bannertextp{
    padding: 30px 20px 0 50px;
}

.bannertextp:nth-child(3){
    padding: 0px 20px 0 50px;
}

.button-discover{
    background-color: #cc5c5c;
    border: 1px solid black;
    border-radius: 0;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.button-discover:hover{
    background-color:#b25050;
    border-color: black;
}

.insta-banner{
    width: 40%;
    height: 100%;
    background-color: #fff;
    padding-top: 40px;
}

.insta-icon{
    padding-left: 50px;
    font-size: 4em;
    margin-top: 40px;    
}

.insta-post{
    width: 25%;
    height: 100%;
}

.summary{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.summaryitem{
    width: 25%;
    height: 100%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 40px;
}

.summary-icon{
    font-size: 3.2em;
    position: absolute;
}

.summary-text{
    padding-top: 10px;
    font-weight: 600;
    font-size: 1.1em;
    color: #124f53;
}
