header{
    width: 100%;
    height: 100px;
    display: flex;
    /* background: linear-gradient(to bottom, #b7bcc1, #edeeef); */
    background-color: #fff;
}

.logo{
    width: 100px;
    height: 100px;
    z-index: 2;
}

.image-logo{
    width: 100px;
    height: 100px;
    background-color: rgb(129, 33, 33);
}

.nav{
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.utility-bar{
    height: 30px;
    width: 100%;
    font-size: 1em;
    align-items: center;
    display: flex;
    justify-content: right;
    font-weight: 500;
    padding-right: 22px;
}

.signinstatus{
    text-decoration: none;
    color: #000;
}

.menubar{
    height: 70px;
    width: 100%;
}

.nav-item{
    text-transform: uppercase;
    font-size: 0.88em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 10px;
}

.nav-item.active {
    color: red !important;
    font-weight: 800;
}

.searchbuttonhome{
    border: none;
    padding-left: 2px;
    color: black;
    background-color: transparent;
}

.searchbuttonhome:hover,
.searchbuttonhome:active,
.searchbuttonhome:focus
{
    background-color: white !important;
    color: black !important;
}

.searchbox{
    border: none;
    border-bottom: 1px solid #7f7f7f;
    border-radius: 0;
    outline: none;
    background-color: transparent;
}

.searchbox:focus {
    border: none;
    border-bottom: 1px solid #7f7f7f;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

