.section-product{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 0px;
}

.category-list{
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.category-list ul {
    list-style: none;
    width: 80%;
}

.category-list ul li{
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #cecece;
    font-size: 0.8em;
}

.category-list ul li:first-child{
    padding: 10px 0;
    border:none;
    font-size: 0.9em;
}


.selected-category{
    font-weight: 800 !important;
}

.product-cards-container
{
    margin: 0 auto;
    width: 95%;
    padding: 20px 0;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.category-dropdown{
    margin: 0 auto;
    width: 95%;
    text-align: right;
}

.category-dropdown select{
    padding: 10px 20px;
}

.prod-desc{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0.8em;

}
.product-sidebar{
    width: 20%;
    background-color: #f7f7f7;
    padding-top: 30px;
}

.prod-main-content{
    width: 70%;
    height: 100%;
    padding-top: 30px;
}

.category-menu{
    background-color: red;
    display: flex;
}


