.section-product{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 0px;
}

.category-list{
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.category-list ul {
    list-style: none;
    width: 80%;
}

.category-list ul li{
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #cecece;
    font-size: 0.8em;
}

.category-list ul li:first-child{
    padding: 10px 0;
    border:none;
    font-size: 0.9em;
}


.selected-category,
.selected-brand{
    font-weight: 800 !important;
}

.product-cards-container
{
    margin: 0 auto;
    width: 95%;
    padding: 20px 0;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.category-dropdown{
    margin: 0 auto;
    width: 95%;
    text-align: right;
}

.category-dropdown select{
    padding: 10px 20px;
}

.prod-desc{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0.8em;

}
.product-sidebar{
    width: 25%;
    background-color: #f7f7f7;
    padding-top: 30px;
}

.prod-main-content{
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

.category-menu{
    display: flex;
    background-color: #d00b1e;
}

.rectangle-triangle,
.triangle-rectangle{
    background-color: #fff;
    color: #d00b1e;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 0.8em;
}


.pagination{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e5e5e5;
}

#paginationbutton{
    outline: none;
    border: 1px solid black;
    padding: 10px 15px;
    background-color:#cccccc;
    margin-bottom: 20px;
    margin: 10px 2px 20px 0;
}

